<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<div>
    <mat-toolbar  class="navbar navbar-expand-lg bg-primary">
      <span>MultilinguaSync Tool</span>
      <span class="fill-space"></span>
      <button mat-icon-button (click)="openHelp()">
        <mat-icon>help</mat-icon>
      </button>
    </mat-toolbar>
</div>

<router-outlet> </router-outlet>